.tableList__item {
  @apply py-4 relative;
  border: 1px solid black;
  border-radius: 5px;
  background: white;
}
.arrow__item {
  @apply absolute font-medium cursor-pointer;
  width: 30px;
  height: 30px;
  top: 13px;
  right: 15px;
}
.arrow__item img {
  @apply w-full h-full;
}

/* Detail when show */
.detail__container {
  border: 1px solid black;
  border-radius: 5px;
  margin-bottom: 2.5rem;
}
.detail__header {
  @apply pl-8 pr-16 py-4 relative flex justify-between;
  border-bottom: 1px solid black;
  border-radius: 5px 5px 0 0;
  background: white;
}
.detail__arrow {
  @apply absolute font-medium cursor-pointer;
  width: 30px;
  height: 30px;
  top: 13px;
  right: 15px;
}

.detail__action {
  @apply cursor-pointer;
  color: var(--blue);
}
.detail__action--cancel {
  @apply cursor-pointer;
  color: var(--red);
}

/* Item when show */
.detail__item {
  @apply p-10;
}
.detail__order {
  @apply p-10;
}

.detail__item {
  @apply pb-5 px-10 grid grid-cols-7 gap-x-5 gap-y-5;
}

.detail__item div:nth-child(1),
.detail__item div:nth-child(2),
.detail__item div:nth-child(3),
.detail__item div:nth-child(4),
.detail__item div:nth-child(5),
.detail__item div:nth-child(6) {
  @apply col-span-2;
}
.detail__item .adminInput__container {
  @apply mt-5;
}
.detail__orderList {
  @apply mt-10 grid grid-cols-2 gap-x-4;
}
