.menuItem__container {
  @apply py-8 px-4 m-auto;
  width: 300px;
  height: 500px;
  background-color: var(--second);
  border-radius: 40px;
  border: 1px solid var(--primary);
}

.menuItem__avatar {
  @apply m-auto;
  width: 200px;
  height: 210px;
}

.menuItem__title {
  @apply mt-6 font-semibold text-2xl text-center;
  height: 50px;
  color: var(--textPrimary);
}

.menuItem__price {
  @apply mt-8 font-semibold text-xl text-center;
  color: var(--primary);
}

.menuItem__buttonBook {
  @apply mt-8 py-3 px-5 font-bold m-auto text-center cursor-pointer;
  width: 150px;
  height: 55px;
  border: 1px solid var(--textPrimary);
  color: var(--textPrimary);
  border-radius: 30px;
}
