@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  position: relative;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  /* color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  /* Color genaral golabol */
  --primary: #ffbe41;
  --second: #fffdf1;
  --bgSecond: #f2c94c;
  --bgGrey: #d9d9d9;
  --bgGreyAdmin: #f5f6fa;
  --bgYellow: #ffaf14;

  /* Color text golabol */
  --textPrimary: #550312;
  --textBlack: #333333;
  --textWhite: #fffdf1;
  --textGray: #a5b1c2;

  /* Color status */
  --blue: #2b60c8;
  --red: #eb5757;
  --green: #219653;
}

.text__title {
  @apply font-bold text-3xl;
  color: var(--textPrimary);
}

.text__title--primary {
  @apply font-bold text-3xl;
  color: var(--textBlack);
}

.text__title--second {
  @apply font-bold text-xl;
  color: var(--textBlack);
}
.text__subTitle {
  @apply font-medium text-xl;
  color: var(--textBlack);
}
.avatar {
  width: 100px;
  height: 100px;
}
.avatart img {
  @appy w-full h-full;
}
